.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 1rem;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  pointer-events: none;

  @media #{$m-smallscreen} {
    justify-content: space-around;
  }

  &--hide {
    display: none;
  }
}
