@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3b3d4d;
  background-color: whitesmoke
}

a, ul, li {
  text-decoration: none;
  text-decoration-style: none;
  list-style-type: none;
}


.pokedex {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  width: 450px;
  display: block;
  margin: 0 auto;
}
/* ---------------- NAV ------------------------ */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3b3d4d;
}

.nav__title {
  color: white;
  background: #3b3d4d;
  padding: 0 25px;
  font-weight: 900;
}


.nav__search {
  margin: 5px;
  width: 350px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 18px 25px;
  background: url(./search-solid.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 95% 1rem;
  background-color: white;
}

/* ---------------- OPTIONS FILTERS ------------------------ */

.select__container {
  margin: 30px 20px 30px 0;
  width: 17%;
  position: relative;
  background: #FFF;
  display: inline-block;
  padding: 5px 0;
}

.select__container--number{
  width: 30%;
}

.select {
  background: #FFF;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .2s ease all;
  position: relative;
  z-index: 200;
  background-color: white;
  border: 1px solid transparent;
  padding: 12px 25px;
  width: 100%;
}

.select__text {
  background: #FFF;
  font-size: 16px;
  pointer-events: none;
}

.select i {
  font-size: 30px;
  background: #FFF;
  color: rgba(153, 153, 153, 1);
  font-size: 20px;
  pointer-events: none;
}

.options {
  background: #ffff;
  max-height: 400px;
  overflow: visible;
  z-index: 100;
  width: 100%;
  display: none;
  position: absolute;
}

.active {
  display: block;
}

.options__content {
  width: 100%;
  display: flex;
  align-items: center;
  transition: .2s ease all;
  color: #999999;
  background: #ffff;
  padding: 17px 25px;
  cursor: pointer;
}

.options__content:hover {
  background:#F2F2F6 ;
  color: #3B3D4D
}

/* ----------------------------------------------- */
.container {
    display: grid; /* 1 */
    grid-template-columns: repeat(auto-fill, 250px); /* 2 */
    grid-gap: 1rem; /* 3 */
    justify-content: space-between; /* 4 */
    max-width: 1200px;
}

.card {
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  
}

.card__info {
  display: flex;
  align-items: center;
  padding: 25px;
  background: white;
}

.card__info img {
  background: white;
}

.card__text {
  background: white;
}

.text__title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 5px 0;
  background: white;
}

.text__number {
  color: rgba(153, 153, 153, 0.726);
  background: white;
}

.card__type {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(59, 61, 77, 1);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.type__text {
  color: white;
  font-weight: 500;
  background-color: rgba(59, 61, 77, 1);
}

.hr {
  width: 1px;
  height: 50px;
  margin: 0;

  background: rgb(95, 98, 122);
  border: none
}



.second__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.card--stats {
  flex-basis: 25%;
  height: fit-content;
  margin: 0;
}

.info__container {
  flex-basis: 73%;
  height: 300px;
}

.info__menu {
  display: flex;
  width: 100%;
}

.menu__option {
  flex-basis: 33.3%;
  font-size: 16px;
  padding: 25px;
  border-bottom: 1px solid #E2E2E4; 
  font-weight: 600;
  color: #369BF8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.menu_option--center {
  border-right: 1px solid #E2E2E4;
  border-left: 1px solid #E2E2E4;
}

.info__pokemon {
  /* padding: 75px 35px; */
  padding: 75px 20px 75px 75px;;
  margin: 0px auto; 
  background: white;
}

/* POKEMON STATS */
.pokemon__stats {
  display: none;
  background: white;
}

.stats__list {
  display: flex;
  align-items: center;
  background: white;
  margin: 14px 0;
}

.list__stat {
  font-weight: 200;
  background: white;
  margin: 0 10px;
}

.list__bar {
  background: rgba(59, 61, 77, 1);
  height: 13px;
  width: 60%;
}

/* POKEMON STATS */

/* POKEMON ABILITIES */
.pokemon__abilities{
  display: none;
}

.abilities__details {
  padding: 10px;
  background: white;
}

.abilities__title {
  background: white;
}

.abilities__text {
  background: white;
}
/* POKEMON ABILITIES */

/* POKEMON EFFECTIVENESS */

.pokemon__effectiveness {
  display: none;
  background: white;

}

.effectiveness__container {
  display: flex;
  background: white;
}

.effectiveness__list {
  background: white;
  flex-basis: 34%;
}

.list__item {
  background: white;
  font-weight: 700;
  color: rgba(59, 61, 77, 1);
}
/* POKEMON EFFECTIVENESS */


.--active_stats {
  display: block;
}

.--active__menu {
  background: white;
  border-bottom: none;
}
